<%- include("partials/header")-%>


  <div class="sec-1">
    <img class="homeimg" src="images/sthenoslogo.jpg" alt="error">
    <div class="on">
      <h4 class="homep">"We provide High quality functional equipment that inspires you to achieve your fitness goals"</h4>

  </div>
  <img class="dumb" src="images/dumbell.png" alt="error">

</div>

<div class="container">

  <div id="about">
    <h1 class="abtt">About us</h1>
    <p class="abtp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupida.
</p>
  </div>

</div>







<div id="products">

  <h1   class="ptitle">OUR PRODUCTS</h1>
<p class="pp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
<img class="dum2" src="images/dumbell2.png" alt="error">

<hr>
  <div class=" p container">
    <div class="row">
      <div class="col-lg-6 ">
        <div class="pr card" >
        <img src="images/newi4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">STHENOS WALL MOUNTED PULLUP BAR</h3>
          <ul class="card-text">
            <li>MATERIAL : MILD STEEL</li>
            <li>PAINTING : POWDER COATING</li>
            <li>COLOUR : BLACK</li>
            <p class="card-text">100% SATISFACTION GURANTEED</p>
        <li>  <a href="/sthenos/STHENOS WALL MOUNTED PULLUP BAR" class="btn btn-dark">BUY FOR RS.1750 </a></li>
          </ul>
        </div>
      </div>
      </div>



      <div class="col-lg-6 ">
        <div class=" pr card" >
          <img src="images/newi5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">STHENOS WALL MOUNTED DIBS BAR</h3>
            <ul class="card-text">
              <li>MATERIAL : MILD STEEL</li>
              <li>PAINTING : POWDER COATING</li>
            <li>COLOUR : BLACK</li>

            <p class="card-text">100% SATISFACTION GURANTEED</p>
<li>          <a href="/sthenos/STHENOS WALL MOUNTED DIBS BAR" class="btn btn-dark">BUY FOR RS.1650</a></li>
  </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
<img class="dum2" src="images/dumbell2.png" alt="error">
<hr>
  <div class=" p container">
    <div class="row">
      <div class="col-lg-6">
        <div class=" pr card" >
          <img src="images/newi2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">STHENOS PLASTIC PARALLETTES</h3>
            <ul class="card-text">
              <li>MATERIAL : HIGH GRADE PLASTIC</li>
              <li>PAINTING : SPRAY PAINTED</li>
              <li>COLOUR : BLACK</li>
            <p class="card-text">100% SATISFACTION GURANTEED</p>
<li>            <a href="/sthenos/STHENOS PLASTIC PARALLETTES" class="btn btn-dark">BUY FOR RS.1500</a>
</li>
</ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class=" pr card" >
          <img src="images/slide 5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">STHENOS METAL PARALLETTES AND DIPS BAR</h3>
            <ul class="card-text">
              <li>MATERIAL : MILD STEEL</li>
              <li>PAINTING : POWDER COATED</li>
              <li>COLOUR : BLACK</li>
            <p class="card-text">100% SATISFACTION GURANTEED</p>
<li>            <a href="/sthenos/STHENOS METAL PARALLETTES AND DIPS BAR" class="btn btn-dark">BUY FOR RS.5000</a>
</li>
</ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="dum2" src="images/dumbell2.png" alt="error">
  <hr>

  <div class="p container">
    <div class="row">
      <div class="col-lg-6">
        <div class=" pr card" >
          <img src="images/newi3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">STHENOS MULTI BAR</h3>
            <ul class="card-text">
              <li>MATERIAL : MILD STEEL</li>
              <li>PAINTING : POWDER COATING</li>
              <li>PULL UP BAR +DIPS BAR</li>
              <li>COLOUR : BLACK</li>
            <p class="card-text">100% SATISFACTION GURANTEED</p>
<li>            <a href="/sthenos/STHENOS MULTI BAR" class="btn btn-dark">BUY FOR RS.3500</a>
</li>
</ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class=" pr card" >
          <img src="images/newi1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">STHENOS DUMBBELLS</h3>
            <ul class="card-text">
              <li>MATERIAL : CAST IRON</li>
              <li>PAINTING : POWDER COATED</li>
              <li>COLOUR : BLACK</li>
            <p class="card-text">100% SATISFACTION GURANTEED</p>
<li>            <a href="/sthenos/STHENOS DUMBBELLS" class="btn btn-dark">BUY FOR RS.100 PER KILO </a>
</li>
</ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <h1 class="why" >Why Choose Us?</h1>


        <div class="row">
          <div class="card col-lg-4">
          <h5 class="card-title">Quality</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>

      <div class="card col-lg-4">
      <h5 class="card-title">Cost efficient</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>

      <div class="card col-lg-4" >
          <h5 class="card-title">Lot of happy customers</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur..</p>
      </div>
  </div>

</div>





<div id="workers">

  <h2 class="workppl">People we collabrate with to make our amazing products</h2>
<p >We make sure that we deliver quality fitness product for your fitness goals</p>
  <div class="c">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="slide" src="images/w2 (2).jpg" alt="error">
        </div>
        <div class="carousel-item">
  <img class="slide" src="images/w3.jpg" alt="error">
        </div>
        <div class="carousel-item">
  <img  class="slide" src="images/w4.jpg" alt="error">
        </div>
        <div class="carousel-item">
  <img  class="slide" src="images/w2 (1).jpg" alt="error">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" ></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" ></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<div id="videos">
<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="test">
        <h4 class="exp1">We're exicted to launch the official STHENOS EXPERIENCE ZONE </h4>
        <p>Come hang with us and try out our high quality fitness equipment.EXPERIENCE STHENOS</p>

        <video width="320" height="240" controls>
          <source src="images/x.mp4" type="video/mp4">
        </video>
      </div>

    </div>
    <div class="col-lg-6">
      <div class="test">
        <h4 class="exp1">HOW STRONG THEY ARE ?</h4>
        <h4>Strong and Light</h4>
    <p>Our way of Strength testing -It's amazing how a product can be so strong light at the same time.Come and check it out.</p>
        <video width="320" height="240" controls>
          <source src="images/x.mp4" type="video/mp4">
        </video>
      </div>

    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="test">
        <h4 class="exp1">We're exicted to launch the official STHENOS EXPERIENCE ZONE </h4>
        <p>Come hang with us and try out our high quality fitness equipment.EXPERIENCE STHENOS</p>

        <video width="320" height="240" controls>
          <source src="images/x.mp4" type="video/mp4">
        </video>
      </div>

    </div>
    <div class="col-lg-6">
      <div class="test">
        <h4 class="exp1">HOW STRONG THEY ARE ?</h4>
        <h4>Strong and Light</h4>
    <p>Our way of Strength testing -It's amazing how a product can be so strong light at the same time.Come and check it out.</p>
        <video width="320" height="240" controls>
          <source src="images/x.mp4" type="video/mp4">
        </video>
      </div>

    </div>
  </div>
</div>
<hr>

</div>

<div id="contact">
<p>For Further Details Contact</p>
<h3>CONTACT US</h3>
<a href="https://www.instagram.com/sthenos__/"><img class="footpad" src="images/instagram.png" alt="error">
</a>

<a href="#"><img  class="footpad" src="images/facebook.png" alt="error">
</a>
<p>Phone-  +91 8939439790, +91 9791291019</p>
<p>Email- sthenosf@gmail.com</p>
</div>
